Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
HeaderFilterRegex: '*.hpp$'
WarningsAsErrors: '*'
